:root {
  font-family: Ubuntu, "Helvetica Neue", Helvetica, "PingFang SC",
    "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --app-background-color: #242424;
  --app-text-color: #f4f4f4;
  --app-head-color: #333333;
  --app-head-text-color: #999999;
  --app-head-border-color: #4e5052;
  --app-content-color: #232325;
  --app-menu-color: #333333;
  --app-menu-active-color: #2a2a2d;
  --app-menu-hover-color: #3d3d3d;
  --app-menu-active-border-color: #235db9;
  --app-topbar-btn-hover-color: #494949;

  --el-color-primary: #235db9;

  --el-disabled-bg-color: #3d3d3d;
  --el-disabled-border-color: #4e5052;

  --el-fill-color-blank: #3d3d3d;
  --el-input-border-color: #4e5052;
  --el-text-color-regular: #f4f4f4;
  --el-border-color-hover: #747474;
  
  --el-fill-color-light: #242424;
  --el-border-color: #4e5052;
}

@media (prefers-color-scheme: light) {
  :root {
    --app-background-color: #ffffff;
    --app-text-color: #213547;
    --app-head-color: #f4f4f4;
    --app-head-text-color: #333333;
    --app-head-border-color: #c4c6c7;
    --app-content-color: #ffffff;
    --app-menu-color: #eff1f2;
    --app-menu-active-color: #d9dde2;
    --app-menu-hover-color: #e6e9ed;
    --app-menu-active-border-color: #1968e5;
    --app-topbar-btn-hover-color: #e6e9ed;
    --app-topbar-btn-active-color: #d9dde2;

    --el-color-primary: #1968e5;

    --el-disabled-bg-color: #e6e9ed;
    --el-disabled-border-color: #c4c6c7;
  
    --el-fill-color-blank: #e6e9ed;
    --el-input-border-color: #c4c6c7;
    --el-text-color-regular: #213547;
    --el-border-color-hover: #747474;
    
    --el-fill-color-light: #ffffff;
    --el-border-color: #c4c6c7;
  }
}


body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  place-items: center;
  user-select: none;
  display: flex;
  margin: 0;
}

#app {
  color: var(--app-text-color);
  border-radius: 8px;
  width: 100%;
}

.card {
  background-color: var(--app-head-color);
  border-radius: 8px;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.full-width {
  width: 100%;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.justify-between {
  justify-content: space-between;
}

.text-small {
  font-size: 12px;
}

.text-center {
  text-align: center;
}

.text-gray {
  color: #999;
}

.float-right {
  float: right;
}

.ml-5 {
  margin-left: 5px;
}

.mr-5 {
  margin-right: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.pa-10 {
  padding: 10px;
}

.pb-0 {
  padding-bottom: 0;
}

.dot-red {
  background-color: #c45656;
  border-radius: 50%;
  height: 8px;
  width: 8px;
}

.dot-green {
  background-color: #529b2e;
  border-radius: 50%;
  height: 8px;
  width: 8px;
}

.line-1 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}









.el-tabs {
  border: 1px solid var(--app-head-border-color);
  background-color: var(--app-background-color);
  border-radius: 0 0 8px 8px;
  border-top: none;
}

.el-tabs__header {
  background-color: var(--app-menu-color);
}

.el-tabs__item {
  border-right: 2px solid var(--app-head-border-color);
  background-color: var(--app-menu-color);
  color: #999999 !important;
}

.el-tabs__item:hover {
  background-color: var(--app-menu-hover-color);
}

.el-tabs__item:active {
  background-color: var(--app-menu-active-color);
}

.el-tabs__item.is-active {
  background-color: var(--app-menu-active-color);
  color: var(--app-text-color) !important;
}

.el-tabs__active-bar {
  background-color: var(--app-menu-active-border-color) !important;
}

.el-tabs__nav-wrap::after {
  background-color: var(--app-head-border-color) !important;
}

@keyframes loading-rotate {
  to {
    transform: rotate(360deg)
  }
}

.el-loading-mask {
  background-color: rgba(0, 0, 0, .3) !important;
  border-radius: 8px;
}

.el-loading-spinner .circular {
  border: 1px solid var(--app-head-border-color);
  background-color: var(--app-background-color);
  animation: loading-rotate 1s linear infinite;
  box-shadow: 0 0 10px 0 #333333;
  border-radius: 100%;
  display: inline;
  padding: 3px;
  height: 40px;
  width: 40px;
}

.el-loading-spinner .path {
  animation: loading-dash 1.5s ease-in-out infinite;
  stroke: var(--app-text-color) !important;
  stroke-dasharray: 90, 150;
  stroke-linecap: round;
  stroke-dashoffset: 0;
  stroke-width: 5;
}

.el-message {
  transition: all ease-out 0.3s;
  justify-content: center;
  top: 3px !important;
  align-items: center;
  border-radius: 20px;
  position: fixed;
  display: flex;
  border: none;
  height: 24px;
  width: 64vw;
  padding: 0;
  left: 50vw;
}

.el-message i {
  color: #fff !important;
  position: absolute;
  margin-right: 5px;
  font-size: 22px;
  left: 0;
  top: 0;
}

.el-message p {
  color: #fff !important;
  width: calc(64vw - 25px);
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 5px;
  text-align: center;
  margin-left: 25px;
  overflow: hidden;
}

.el-message--success {
  background-color: #529b2e;
}

.el-message--warning {
  background-color: #ff9900;
}

.el-message--error {
  background-color: #c45656;
}

.el-message--info {
  background-color: #235db9;
}


.el-message--success i{
  padding-top: 1px;
}

.el-drawer {
  background-color: var(--app-head-color) !important;
  width: calc(100vw - 2px) !important;
  border-radius: 10px 10px 8px 8px;
  bottom: 1px !important;
  left: 1px !important;
}

.el-drawer__header {
  padding: 8px 10px 0 10px !important;
  margin-bottom: 0 !important;
}

.el-drawer__body {
  padding: 10px !important;
}

.el-drawer__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.el-overlay {
  border-radius: 8px;
}

.el-switch {
  --el-switch-on-color: #13ce66 !important;
  --el-switch-off-color: #4e5052 !important;
}

.el-switch__action {
  background-color: #232325 !important;
}

.el-empty {
  --el-empty-padding: 120px 0 0 0 !important;
  --el-empty-fill-color-0: #000000 !important;
  --el-empty-fill-color-1: #4b4b52 !important;
  --el-empty-fill-color-2: #36383d !important;
  --el-empty-fill-color-3: #4b4b52 !important;
  --el-empty-fill-color-4: #262629 !important;
  --el-empty-fill-color-5: #202124 !important;
  --el-empty-fill-color-6: #212224 !important;
  --el-empty-fill-color-7: #1b1c1f !important;
  --el-empty-fill-color-8: #1c1d1f !important;
  --el-empty-fill-color-9: #18181a !important;
}

.el-overlay.is-message-box{
  height: 100vh;
}

.el-overlay-message-box{
  bottom: 1px !important;
  padding: 0 !important;
  left: 1px !important;
  top: auto !important;
  height: max-content;
  width: max-content;
}

.el-message-box{
  background-color: var(--app-head-color) !important;
  border-radius: 10px 10px 8px 8px;
  border: none;
  width: 348px;
}

.el-message-box__title{
  color: var(--app-text-color);
}

.el-message-box__content{
  color: var(--app-head-text-color);
}

.el-button{
  background-color: var(--app-menu-active-color) !important;
  border-color: var(--app-menu-active-color) !important;
}

.el-button:hover{
  border-color: var(--app-menu-hover-color) !important;
  color: var(--app-text-color) !important;
}

.el-button:active{
  background-color: var(--app-topbar-btn-hover-color) !important;
}

.el-button--primary{
  background-color: var(--app-menu-active-border-color) !important;
  border-color: var(--app-menu-active-border-color) !important;
}

.el-button--primary:hover{
  border-color: #4b8df8 !important;
  color: #f4f4f4 !important;
}

.el-button--primary:active{
  background-color: #1b4fa3 !important;
}

.el-button--danger{
  background-color: #c45656 !important;
  border-color: #c45656 !important;
}

.el-button--danger:hover{
  background-color: #dd4f4f !important;
  border-color: #dd4f4f !important;
  color: #f4f4f4 !important;
}

.el-button--danger:active{
  background-color: #d13535 !important;
}


@media (prefers-color-scheme: light) {
  .el-tabs__item {
    color: #999999 !important;
  }

  .el-empty {
    --el-empty-fill-color-0: #18181a !important;
    --el-empty-fill-color-1: #f4f4f4 !important;
    --el-empty-fill-color-2: #efefef !important;
    --el-empty-fill-color-3: #f3f3f3 !important;
    --el-empty-fill-color-4: #d9dbe0 !important;
    --el-empty-fill-color-5: #f0f0f0 !important;
    --el-empty-fill-color-6: #e9ebef !important;
    --el-empty-fill-color-7: #e5e7e9 !important;
    --el-empty-fill-color-8: #e0e3e9 !important;
    --el-empty-fill-color-9: #d5d7de !important;
  }

  .el-switch {
    --el-switch-on-color: #13ce66 !important;
    --el-switch-off-color: #c4c4c4 !important;
  }
  
  .el-switch__action {
    background-color: #ffffff !important;
  }
  
}