:root {
  font-family: Ubuntu, "Helvetica Neue", Helvetica, "PingFang SC",
    "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --app-background-color: #242424;
  --app-text-color: #f4f4f4;
  --app-head-color: #333333;
  --app-head-text-color: #999999;
  --app-head-border-color: #4e5052;
  --app-content-color: #232325;
  --app-menu-color: #333333;
  --app-menu-active-color: #2a2a2d;
  --app-menu-hover-color: #3d3d3d;
  --app-menu-active-border-color: #235db9;
  --app-topbar-btn-hover-color: #494949;
}

@media (prefers-color-scheme: light) {
  :root {
    --app-background-color: #ffffff;
    --app-text-color: #213547;
    --app-head-color: #f4f4f4;
    --app-head-text-color: #333333;
    --app-head-border-color: #c4c6c7;
    --app-content-color: #ffffff;
    --app-menu-color: #eff1f2;
    --app-menu-active-color: #d9dde2;
    --app-menu-hover-color: #e6e9ed;
    --app-menu-active-border-color: #1968e5;
    --app-topbar-btn-hover-color: #e6e9ed;
    --app-topbar-btn-active-color: #d9dde2;
  }
}


body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  place-items: center;
  user-select: none;
  display: flex;
  margin: 0;
}

#app {
  background-color: var(--app-background-color);
  color: var(--app-text-color);
  border-radius: 0 0 8px 8px;
  width: 100%;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.full-width {
  width: 100%;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.justify-between {
  justify-content: space-between;
}

.text-small {
  font-size: 12px;
}

.text-center {
  text-align: center;
}

.text-gray {
  color: #999;
}

.mr-5 {
  margin-right: 5px;
}

.dot-red {
  background-color: #c45656;
  border-radius: 50%;
  height: 8px;
  width: 8px;
}

.dot-green {
  background-color: #529b2e;
  border-radius: 50%;
  height: 8px;
  width: 8px;
}












.el-tabs__header{
  background-color: var(--app-menu-color);
}

.el-tabs__item{
  background-color: var(--app-menu-color);
  border-right: 2px solid var(--app-head-border-color);
  color: #999999 !important;
}

.el-tabs__item:hover{
  background-color: var(--app-menu-hover-color);
}

.el-tabs__item:active{
  background-color: var(--app-menu-active-color);
}

.el-tabs__item.is-active{
  background-color: var(--app-menu-active-color);
  color: var(--app-text-color) !important;
}

.el-tabs__active-bar{
  background-color: var(--app-menu-active-border-color) !important;
}

.el-tabs__nav-wrap::after{
  background-color: var(--app-head-border-color) !important;
}

@media (prefers-color-scheme: light) {
  .el-tabs__item{
    color: #999999 !important;
  }
}